# 合约地址（部署完从 contracts/deployments.json 填入）
NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_USDC_ADDRESS=0x981eA0E88BC20a8fE8e03318e9B8bB1c602e61A3
NEXT_PUBLIC_BOX_ADDRESS=0x75E36873B60757B7e9365D5c8FC921a2668f3e61
NEXT_PUBLIC_VAULT_ADDRESS=0x1efB9d6121f449EAD1dDB8752e6F383b677fE6CE
NEXT_PUBLIC_NFT_ADDRESS=0xa81Ca38A536cF55feE7f2B1822a96576cc9b2e2B
NEXT_PUBLIC_EXECUTOR_ADDRESS=0xCA53bE9E78eFF82d3270BdCF64641D5040C15a6c

# Relayer 私钥（仅服务端，绝不加 NEXT_PUBLIC_ 前缀）
RELAYER_PRIVATE_KEY=0x

# RPC
RPC_URL=https://rpc.sepolia.org
NEXT_PUBLIC_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
NEXT_PUBLIC_WIDGET_RPC_URL=https://ethereum.publicnode.com
